{% if page.header.overlay_image or page.header.image %}

  {% if page.header.image contains "://" %}
    {% capture img_path %}{{ page.header.image }}{% endcapture %}
  {% else %}
    {% capture img_path %}{{ page.header.image | absolute_url }}{% endcapture %}
  {% endif %}


  <div class="hero" style="{% if img_path %}background-image: url('{{ img_path }}');{% endif %}">
    {% if page.header.image %}
        <h1 itemprop="headline">
          {% if paginator and site.paginate_show_page_num %}
            {{ page.title | site.title }}{% unless paginator.page == 1 %} {{ site.data.ui-text[site.locale].page | default: "Page" }} {{ paginator.page }}{% endunless %}
          {% else %}
            {{ page.title | default: site.title | markdownify | remove: "<p>" | remove: "</p>" }}
          {% endif %}
        </h1>
        {% if page.excerpt %}
          <h3 itemprop="description">{{ page.excerpt | markdownify | remove: "<p>" | remove: "</p>" }}</h3>
        {% endif %}
    {% endif %}
  </div>

{% endif %}
