/*
   Comments
   ========================================================================== */

.comments {
  margin: 1em;
}

.comments-title {
  padding-top: 1em;
  font-size: $type-size-6;
  border-top: 1px solid $border-color;
  text-transform: uppercase;
}
