/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  position: relative;
  border-bottom: 1px solid $border-color;
  // animation: $intro-transition;
  // animation-delay: 0.15s;
  z-index: 20;

  &__inner-wrap {
    @include clearfix;
    // margin-left: auto;
    // margin-right: auto;
    // padding: 1em;
    // max-width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: $sans-serif-narrow;

    padding: 1em 1em 1em;
    font-family: $sans-serif;

    @include breakpoint($x-large) {
      max-width: $x-large;
    }

    nav {
      z-index: 10;
    }

    a {
      text-decoration: none;
    }
  }
}

.site-title {
  display: flex;
  padding: 0.5rem 0;
  align-self: stretch;
  align-items: center;
  font-weight: bold;
  z-index: 20;
}

.masthead__menu {
  // float: left;
  // margin-left: 0;
  // margin-right: 0;
  // width: 100%;
  // clear: both;
  position: relative;
  min-width: 250px;
  background: transparent;

  a {
    display: block;
    margin: 0 1rem;
    padding: 0.5rem 0;
    color: $masthead-link-color;

    &:hover {
      color: $masthead-link-color-hover;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
  }
}

.masthead__menu-item {
  display: block;
  list-style-type: none;
  white-space: nowrap;

  &--lg {
    // padding-right: 2em;
    font-weight: 700;
  }
}


/*
   Greedy navigation
   ========================================================================== */

  .toggle-links {
  position: absolute;
  height: 100%;
  right: 0;
  // padding: 0 0.5rem;
  margin-right: -0.5em;
  border: 0;
  outline: none;
  background-color: $background-color;
  color: $text-color;
  cursor: pointer;

      /* The circle icon */
  &.counter::before {
    box-sizing: border-box;
    content: attr(data-count);
    position: absolute;
    z-index: 2;
    top: 0.25em;
    left: 0.25em;
    display: block;
    color: $background-color;
    /* font-size: 1em; */
    width: 2em;
    height: 2em;
    padding: 0.25em 0.25em;
    background-color: $text-color;
    border: 3px solid $background-color;
    border-radius: 50%;
    line-height: 1;
    text-align: center;
  }
}

.visible-links {
  display: table;

  li {
    display: table-cell;
    vertical-align: middle;

    &:first-child {
      font-weight: bold;

      a {
        margin-left: 0;
      }
    }

    &:last-child {
      a {
        margin-right: 0;
      }
    }
  }

  a {
    position: relative;
  }
}

.hidden-links {
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 0.25em;
  padding: 0.25em;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  background: $background-color;

  &.links-invisible {
    transform: scaleY(0);
  }

  a {
    margin: 0;
    padding: 10px 20px;
    font-size: $type-size-5;

    &:hover {
      color: $masthead-link-color-hover;
    }
  }

  &:after {
    content: "";
    position: absolute;
    top: -10px;
    right: 10px;
    width: 0;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: #fff transparent;
    display: block;
    z-index: 1;
  }

  li {
    display: block;
    border-bottom: 1px solid $border-color;

    &:last-child {
      border-bottom: none;
    }
  }
}