/* ==========================================================================
   NAVIGATION
   ========================================================================== */


/*
   Post pagination navigation links
   ========================================================================== */

.pagination {
  margin: 1em;

  /* next/previous buttons */
  a {
    padding: 1em 2em;
    float: left;
    width: 50%;
    font-size: $type-size-5;
    font-weight: bold;
    text-align: center;
    border: 1px solid $light-gray;
    border-radius: $border-radius;

    &:hover {
      color: $link-color-hover;
    }

    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:last-child {
      margin-left: -1px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &.disabled {
      color: mix(#fff, $gray, 75%);
      pointer-events: none;
      cursor: not-allowed;
    }
  }
}
